
@media (max-width: 767px) {

  body {
    width: 480px;
  }
  #a {
    background: #f45f42;
    border: 1px solid black;
    width: 480px;
    height: 75px;
  }
  #b {
   background: #ff0000; 
   border: 1px solid black;
   width: 480px;
   height: 150px;
  }
  #c,#d {
    border: 1px solid black;
    width: 480px;
    height: 125px;
   }
   #c {
     background: #ff00d4;
   }
   #d {
     background: #8500ff;
   }
  #e,#f,#g,#h {
   border: 1px solid black;
   width: 240px;
   height: 250px;
   float: left;
  }
  #e {
    background: #f442b3;
  }
  #f {
   background: #416df4;
  }
  #g {
   background: #41f4e2;
  }
  #h {
   background: #f4d641;
  }
  #i {
   background: #a3f441; 
   border: 1px solid black;
   width: 480px;
   height: 80px;
   float: left;
  }
   }

   @media (min-width: 768px) {
     body {
       width: 960px;
       height: 700px;
     }
     #a {
       background: #a3f441;
       border: 1px solid black;
       width: 960px;
       height: 100px;
     }
     #b {
      background: #f4d641; 
      border: 1px solid black;
      width: 200px;
      height: 600px;
      float: left;
     }
     #c,#d {
       border: 1px solid black;
       width: 380px;
       height: 200px;
       float: left;
      }
      #c {
        background: #41f4e2;
      }
      #d {
        background: #416df4;
      }
     #e,#f,#g,#h {
      border: 1px solid black;
      width: 190px;
      height: 250px;
      float: left;
     }
     #e {
       background: #b88ae2;
     }
     #f {
      background: #8500ff;
     }
     #g {
      background: #ff00d4;
     }
     #h {
      background: #ff0000;
     }
     #i {
      background: #f45f42; 
      border: 1px solid black;
      width: 760px;
      height: 150px;
      float: left;
     }
   }